services:
  app:
    image: woodwhales/woodwhales-music:3.7.0
    build:
      context: .
      args:
        JAR_FILE: woodwhales-music.jar
    environment:
      MYSQL_HOST: host.docker.internal
      MYSQL_PORT: 3306
      MYSQL_DATABASE: open_music
      MYSQL_USER: root
      MYSQL_PASSWORD: root1234
      SYSTEM_INIT_PASSWORD: admin
    ports:
      - "8084:8084"
