<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}">
    <script th:src="@{/webjars/vue/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/dist/axios.js}"></script>
    <!-- https://aplayer.js.org/#/zh-Hans/ -->
    <script th:src="@{/aplyer/APlayer.min.js}"></script>
    <link rel="stylesheet" th:href="@{/aplyer/APlayer.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin-css.css}" />
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="2">&nbsp;</el-col>
        <el-col :span="20">
            <div th:replace="~{admin2/header::header}"></div>
            <el-row style="margin-bottom: 12px;">
                <el-button type="success" size="mini" @click="onBackHome">返回</el-button>
            </el-row>
            <el-row style="margin-bottom: 12px;">
                <el-divider content-position="left">请求错误</el-divider>
            </el-row>
            <el-empty description="暂无数据"></el-empty>
        </el-col>
        <el-col :span="2">&nbsp;</el-col>
    </el-row>
</div>

<script type="text/javascript" th:inline="none">
    new Vue({
        el: '#app',
        data: function() {
            return {}
        },
        methods: {
            onBackHome() {
                location.href = '/admin/';
            },
        }
    })
</script>
</body>
</html>
