<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}">
    <script th:src="@{/webjars/vue/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/dist/axios.js}"></script>
    <!-- https://aplayer.js.org -->
    <script th:src="@{/aplyer/APlayer.min.js}"></script>
    <link rel="stylesheet" th:href="@{/aplyer/APlayer.min.css}">
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="2">&nbsp;</el-col>
        <el-col :span="20">
            <el-row style="text-align: center;">
                <h2>woodwhales-music</h2>
            </el-row>
            <el-row style="text-align: center; margin-bottom: 12px;">
                <el-divider content-position="center"><span style="color: #67C23A;">移风易俗，莫善于乐。</span></el-divider>
            </el-row>

            <el-row style="margin-bottom: 12px;">
                <el-button type="success" size="mini" @click="onBackHome">返回</el-button>
            </el-row>

            <el-row style="margin-bottom: 12px;">
                <el-divider content-position="left">添加音乐</el-divider>
            </el-row>
            <el-row style="margin-bottom: 12px;">
                <el-form ref="dataForm" :model="dataForm" :rules="rules" label-width="80px">
                    <el-input v-model="dataForm.id" v-show="false"></el-input>
                    <el-form-item label="播放器">
                        <div id="aplayer"></div>
                    </el-form-item>
                    <el-form-item label="名称" prop="musicName">
                        <el-input v-model="dataForm.musicName" @change="changeAudioUrlEvent" @blur="changeAudioUrlEvent"></el-input>
                    </el-form-item>
                    <el-form-item label="作者" prop="artist">
                        <el-input v-model="dataForm.artist" @change="changeAudioUrlEvent" @blur="changeAudioUrlEvent"></el-input>
                    </el-form-item>
                    <el-form-item label="专辑" prop="album">
                        <el-input v-model="dataForm.album"></el-input>
                    </el-form-item>
                    <el-row :gutter="20">
                        <el-col :span="8">
                            <el-form-item label="自动填充">
                                <template>
                                    <el-radio v-model="sys.autoFill" label="true" @input="changeAudioUrlEvent">是</el-radio>
                                    <el-radio v-model="sys.autoFill" label="false" @input="changeAudioUrlEvent">否</el-radio>
                                </template>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="音频后缀">
                                <template>
                                    <el-radio v-model="sys.audioSuffix" label=".mp3">.mp3</el-radio>
                                    <el-radio v-model="sys.audioSuffix" label=".m4a">.m4a</el-radio>
                                </template>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="封面后缀">
                                <template>
                                    <el-radio v-model="sys.coverSuffix" label=".jpg">.jpg</el-radio>
                                    <el-radio v-model="sys.coverSuffix" label=".png">.png</el-radio>
                                </template>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-form-item label="音乐来源">
                        <el-tabs v-model="sys.linkSourceName" type="border-card" @tab-click="onChangeLinkSource">
                            <el-tab-pane
                                    :label="link.linkSourceName"
                                    :name="link.linkSourceName"
                                    v-for="(link, index) in dataForm.linkList">
                                <el-row :gutter="10" style="margin-bottom: 10px;">
                                    <el-col :span="23">
                                        <el-form-item label="链接">
                                            <el-input v-model="link.linkMap.AUDIO_LINK" @change="changeAudioUrlEvent" @blur="changeAudioUrlEvent"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="1">
                                        <el-button type="warning" size="mini" icon="el-icon-delete" circle @click="onClearAudioUrl"></el-button>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10" style="margin-bottom: 10px;">
                                    <el-col :span="23">
                                        <el-form-item label="封面">
                                            <el-input v-model="link.linkMap.COVER_LINK" @change="changeAudioUrlEvent" @blur="changeAudioUrlEvent"></el-input>
                                        </el-form-item>
                                        <el-form-item label="仓库链接">
                                            <div>仓库01-https://fastly.jsdelivr.net/gh/woodwhales/woodwhales-music-store01/</div>
                                            <div>仓库02-https://fastly.jsdelivr.net/gh/woodwhales/woodwhales-music-store02/</div>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="1">
                                        <el-button type="danger" size="mini" icon="el-icon-delete" circle @click="onClearCoverUrl"></el-button>
                                    </el-col>
                                </el-row>
                            </el-tab-pane>
                        </el-tabs>
                    </el-form-item>
                    <el-form-item label="排序" prop="sort">
                        <el-input v-model.number="dataForm.sort"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" size="mini" @click="onSubmit('dataForm')">提交</el-button>
                        <el-button size="mini" @click="onReset">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-row>

            <el-row style="margin-bottom: 12px;">
                <el-divider content-position="left">解析音乐</el-divider>
            </el-row>

            <el-row style="margin-bottom: 12px;">
                <el-form ref="parseForm" :model="parseForm" :rules="rules2" label-width="80px">
                    <el-form-item>
                        <el-button type="primary" size="mini" @click="onParse('parseForm')">解析</el-button>
                        <el-button size="mini" @click="onReset2">重置</el-button>
                    </el-form-item>
                    <el-form-item label="音乐平台" prop="platformType">
                        <el-radio v-model="parseForm.platformType" label="WANG_YI_YUN">网易云音乐</el-radio>
                        <el-radio v-model="parseForm.platformType" label="QQ_MUSIC">QQ音乐</el-radio>
                        <el-radio v-model="parseForm.platformType" label="XIA_MI_MUSIC" disabled>虾米音乐</el-radio>
                    </el-form-item>
                    <el-form-item label="源码内容" prop="content">
                        <el-input :autosize="{ minRows: 4, maxRows: 8}" type="textarea" placeholder="请输入要解析的html内容" v-model="parseForm.content"></el-input>
                    </el-form-item>
                </el-form>
            </el-row>

            <el-row style="text-align: center; margin-bottom: 12px;">
                <el-link :underline="false">&copy;&nbsp;&nbsp;{{sys.dateYear}}</el-link>&nbsp;&nbsp;<el-link :underline="false" type="success" href="https://woodwhales.cn/" target="_blank">woodwhales's blog</el-link>
            </el-row>
        </el-col>
        <el-col :span="2">&nbsp;</el-col>
    </el-row>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    new Vue({
        el: '#app',
        data: function() {
            return {
                parseForm: {
                    platformType: null,
                    content: null
                },
                dataForm: {
                    id: null,
                    musicName: null,
                    artist: null,
                    album: null,
                    sort: null,
                    linkList: []
                },
                sys: {
                    music: [[${music}]],
                    activeNames: null,
                    autoFill: 'true',
                    audioSuffix: '.mp3',
                    coverSuffix: '.jpg',
                    dateYear: new Date().getFullYear(),
                    linkSourceName: 'alist',
                    linkSourceIndex: '1'
                },
                musicPlayer: {
                    musicName: null,
                    musicAuthor: null,
                    musicAudioUrl: null,
                    musicCoverUrl: null
                },
                rules2: {
                    platformType: [
                        { required: true, message: '请选择音乐平台', trigger: 'blur' }
                    ],
                    content: [
                        { required: true, message: '请输入源码内容', trigger: 'blur' }
                    ]
                },
                rules: {
                    musicName: [
                        { required: true, message: '请输入名称', trigger: 'blur' }
                    ],
                    artist: [
                        { required: true, message: '请输入作者', trigger: 'blur' }
                    ],
                    album: [
                        { required: true, message: '请输入专辑', trigger: 'blur' }
                    ],
                    sort: [
                        { type: 'number', message: 'sort必须为数字值'}
                    ]
                }
            }
        },
        mounted() {
            this.initSys();
            this.showDetail();
            this.initAplyer();
        },
        methods: {
            onChangeLinkSource(tab, event) {
                this.sys.linkSourceName = this.dataForm.linkList[tab.index].linkSourceName;
                this.sys.linkSourceIndex = tab.index;
                this.initAplyer();
            },
            showDetail() {
                if(this.sys.music !== null) {
                    axios.post('./detailMusic', {
                            id: this.sys.music.id
                        })
                        .then(response => {
                            if(response.data.code === 0) {
                                this.sys.music = response.data.data;
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        })
                        .catch(error => {
                            this.$message.error(error);
                            console.log(error);
                        });

                    this.dataForm.id = this.sys.music.id;
                    this.dataForm.musicName = this.sys.music.title;
                    this.dataForm.artist = this.sys.music.artist;
                    this.dataForm.album = this.sys.music.album;
                    this.dataForm.linkList = this.sys.music.linkList;
                    this.dataForm.sort = this.sys.music.sort;

                    this.initAplyer();
                } else {
                    this.sys.music = {
                        id: null,
                        musicName: null,
                        artist: null,
                        album: null,
                        sort: null,
                        linkList: []
                    };
                    axios.get('./getLinkList')
                        .then(response => {
                            if(response.data.code === 0) {
                                this.sys.music.linkList = response.data.data;
                                this.dataForm.linkList = response.data.data;
                                this.musicPlayer.musicAudioUrl = this.dataForm.linkList[0].linkMap.AUDIO_LINK;
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        })
                        .catch(error => {
                            this.$message.error(error);
                            console.log(error);
                        });
                }
            },
            initAplyer() {
                this.musicPlayer.musicName = this.dataForm.musicName;
                this.musicPlayer.musicAudioUrl = this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.AUDIO_LINK;
                this.musicPlayer.musicCoverUrl = this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.COVER_LINK;
                this.musicPlayer.musicAuthor = this.dataForm.artist;
                new APlayer({
                    container: document.getElementById('aplayer'),
                    theme: '#5FB878',
                    audio: [{
                        name: this.musicPlayer.musicName,
                        artist: this.musicPlayer.musicAuthor,
                        url: this.musicPlayer.musicAudioUrl,
                        cover: this.musicPlayer.musicCoverUrl
                    }]
                });
            },
            onParse(dataForm) {
                this.$refs.parseForm.validate((valid) => {
                    if (!valid) {
                        return false;
                    }

                    axios.post('./parse', this.parseForm)
                        .then(response => {
                            if(response.data.code === 0) {
                                this.dataForm.musicName = response.data.data.musicTitle;
                                this.dataForm.artist = response.data.data.artist;
                                this.dataForm.album = response.data.data.album;
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        })
                        .catch(error => {
                            this.$message.error(error);
                            console.log(error);
                        });
                });
            },
            onReset2() {
                this.$refs.parseForm.resetFields();
            },
            onSubmit(dataForm) {
                this.$refs.dataForm.validate((valid) => {
                    if (!valid) {
                        return false;
                    }
                    axios.post('./createOrUpdateMusic', this.dataForm)
                        .then(response => {
                            if(response.data.code === 0) {
                                this.$message({
                                    message: response.data.msg,
                                    type: 'success'
                                });
                                location.href = './'
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        })
                        .catch(error => {
                            this.$message.error(error);
                            console.log(error);
                        });
                });
            },
            onReset() {
                this.initSys();
                this.initDataForm();
                this.showDetail();
                this.initAplyer();
            },
            onClearAudioUrl() {
                this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.AUDIO_LINK = null;
                this.initAplyer();
            },
            onClearCoverUrl() {
                this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.COVER_LINK = null;
                this.initAplyer();
            },
            onBackHome() {
                location.href = './';
            },
            changeAudioUrlEvent() {
                let audioUrl = this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.AUDIO_LINK;
                let coverUrl = this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.COVER_LINK;
                // 开启自动填充
                if('true' === this.sys.autoFill && this.sys.linkSourceName === 'github') {
                    if(audioUrl !== null  && audioUrl !== '' && (coverUrl === null || coverUrl === '')) {
                        let start = audioUrl.lastIndexOf('.');
                        if(start >= 0) {
                            coverUrl = audioUrl.substr(0, start);
                        }
                        coverUrl = coverUrl + this.sys.coverSuffix;
                        this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.COVER_LINK = coverUrl;
                    }
                    if(coverUrl !== null && coverUrl !== '' && (audioUrl === null || audioUrl === '')) {
                        let start = coverUrl.lastIndexOf('.');
                        if(start >= 0) {
                            audioUrl = coverUrl.substr(0, start);
                        }
                        audioUrl = audioUrl + this.sys.audioSuffix;
                        this.dataForm.linkList[this.sys.linkSourceIndex].linkMap.AUDIO_LINK = audioUrl;
                    }
                }
                this.initAplyer();
            },
            initDataForm() {
                this.dataForm.musicName = null
                this.dataForm.artist = null
                this.dataForm.album = null
                this.dataForm.sort = null
            },
            initSys: function () {
                this.sys.autoFill = 'true'
                this.sys.audioSuffix = '.mp3'
                this.sys.coverSuffix = '.jpg'
                this.sys.dateYear = new Date().getFullYear()
            }
        }
    })
</script>
</html>
