<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #progress_total {
            width: 90% ;
            height: .25em ;
            cursor: pointer ;
            border-radius: 1em ;
            background-color: #eae5e6;
            margin-top: 12px;
            transition: width var(--cubic-header) ;
        }
        #progress_filled {
            width: 0% ;
            height: 100% ;
            display: flex ;
            position: relative ;
            align-items: center ;
            border-radius: inherit ;
            background-color: #67C23A ;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="2">&nbsp;</el-col>
            <el-col :span="20">
                <el-row style="text-align: center;">
                    <h2>woodwhales-music</h2>
                </el-row>
                <el-row style="text-align: center; margin-bottom: 12px;">
                    <el-divider content-position="center"><span style="color: #67C23A;">移风易俗，莫善于乐。</span></el-divider>
                </el-row>
                <el-row>
                    <el-row :gutter="20">
                        <el-col :span="20">
                            <el-form ref="queryForm" :model="queryForm" label-width="80px">
                                <el-form-item label="名称/作者">
                                    <el-input v-model="queryForm.searchInfo"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-col>
                        <el-col :span="4">
                            <el-button type="primary" @click="onQuery">搜索</el-button>
                            <el-button type="info" @click="onReset">重置</el-button>
                        </el-col>
                    </el-row>
                </el-row>
                <el-row style="text-align: center;">
                    <el-divider><i class="el-icon-headset" style="color: #67C23A;"></i></el-divider>
                </el-row>
                <el-row style="margin-bottom: 12px;">
                    <el-col :span="4">
                        <el-button type="primay" size="mini" :icon="musicPlayer.icon" @click="onPlay">{{musicPlayer.btnDesc}}</el-button>
                    </el-col>
                    <el-col :span="16">
                        <audio id="audio" src="https://gcore.jsdelivr.net/gh/woodwhales/woodwhales-music-store05@019/music/%E6%88%91%E4%BB%8E%E5%B4%96%E8%BE%B9%E8%B7%8C%E8%90%BD.m4a" type="audio/mpeg"></audio>
                        <div id="progress_total">
                            <div id="progress_filled"></div>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        {{musicPlayer.currentTimeStr}} / {{musicPlayer.allTimeStr}}
                    </el-col>
                </el-row>
                <el-row style="text-align: left; margin-bottom: 12px;">
                    <el-button type="success" size="mini" icon="el-icon-plus" @click="onAdd">添加</el-button>
                    <el-button type="warning" size="mini" icon="el-icon-download" @click="onExport">导出</el-button>
                </el-row>
                <el-row style="margin-bottom: 12px;">
                    <el-table :data="sys.tableData" style="width: 100%">
                        <el-table-column
                                fixed
                                prop="title"
                                label="音乐名称">
                            <template slot-scope="scope">
                                <span v-show="scope.row.linked" style="color: #5FB878" >{{scope.row.title}}</span>
                                <span v-show="!scope.row.linked" style="color: #FF5722">{{scope.row.title}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="artist"
                                label="作者">
                        </el-table-column>
                        <el-table-column
                                prop="album"
                                label="专辑">
                        </el-table-column>
                        <el-table-column
                                prop="sort"
                                label="排序"
                                width="60">
                        </el-table-column>
                        <el-table-column
                                prop="gmtCreated"
                                label="创建时间">
                        </el-table-column>
                        <el-table-column
                                prop="gmtModified"
                                label="更新时间">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="180">
                            <template slot-scope="scope">
                                <el-button @click="onEdit(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
                                <el-button @click="onDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-row>
                <el-row style="margin-bottom: 12px;">
                    <el-pagination
                            :current-page="sys.currentPage"
                            :page-size="sys.pageSize"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :page-sizes="[10, 20, 50, 100, 300]"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="sys.total">
                    </el-pagination>
                </el-row>
                <el-row style="text-align: center; margin-bottom: 12px;">
                    <el-link :underline="false">&copy;&nbsp;&nbsp;{{sys.dateYear}}</el-link>&nbsp;&nbsp;<el-link :underline="false" type="success" href="https://woodwhales.cn/" target="_blank">woodwhales's blog</el-link>
                </el-row>
            </el-col>
            <el-col :span="2">&nbsp;</el-col>
        </el-row>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" th:inline="none">
    new Vue({
        el: '#app',
        data: function() {
            return {
                queryForm: {
                    searchInfo: null
                },
                sys: {
                    dateYear: new Date().getFullYear(),
                    total: 0,
                    currentPage: 1,
                    pageSize: 10,
                    tableData: []
                },
                musicPlayer: {
                    audioStatus: 0,
                    allTimeStr: null,
                    currentTimeStr: null,
                    icon: 'el-icon-video-play',
                    btnDesc: '播放'
                }
            }
        },
        mounted() {
            this.initSys();
            this.initQueryForm();
            this.onQuery();

            // 播放器进度条增加监听事件
            const progress_total = document.getElementById("progress_total");
            const player = document.getElementById("audio");
            progress_total.addEventListener("mousedown", e => {
                player.currentTime = ((e.clientX - progress_total.getBoundingClientRect().left) / progress_total.offsetWidth ) * player.duration;
            });
            // 添加播放器监听事件
            player.addEventListener("timeupdate" , e => {
                this.musicPlayer.currentTimeStr = this.transTime(player.currentTime);
                const progress_filled = document.getElementById("progress_filled");
                const progressFilledWidth = (player.currentTime / player.duration) * 100 + "%";
                progress_filled.style.width = progressFilledWidth;

                if(progressFilledWidth === '100%') {
                    this.musicPlayer.audioStatus = 0;
                    player.pause();
                    this.musicPlayer.currentTimeStr = "00:00";
                    this.musicPlayer.icon = 'el-icon-video-play';
                    this.musicPlayer.btnDesc = '播放';
                    this.musicPlayer.audioStatus = 0;
                    progress_filled.style.width = '0%';
                }
            });
        },
        methods: {
            onPlay() {
                const player = document.getElementById("audio");
                if(this.musicPlayer.audioStatus === 0) {
                    player.play();
                    this.musicPlayer.icon = 'el-icon-video-pause';
                    this.musicPlayer.btnDesc = '暂停';
                    this.musicPlayer.audioStatus = 1;
                } else if(this.musicPlayer.audioStatus === 1) {
                    player.pause();
                    this.musicPlayer.icon = 'el-icon-video-play';
                    this.musicPlayer.btnDesc = '播放';
                    this.musicPlayer.audioStatus = 0;
                }
                this.musicPlayer.allTimeStr = this.transTime(player.duration);
            },
            transTime(time) {
                var duration = parseInt(time);
                var minute = parseInt(duration/60);
                var sec = duration%60 + '';
                if(minute === 0){
                    minute = '00';
                } else if(minute < 10 ){
                    minute = '0' + minute;
                }
                if(sec.length === 1){
                    sec = '0' + sec;
                }
                return minute + ":" + sec;
            },
            onAdd() {
                location.href = './add'
            },
            onExport() {
                location.href = './export'
            },
            onReset: function () {
                this.initSys();
                this.initQueryForm();
                this.onQuery();
            },
            initQueryForm() {
                this.queryForm.searchInfo = null
            },
            initSys: function () {
                this.sys.dateYear = new Date().getFullYear();
                this.sys.total = 0
                this.sys.currentPage = 1
                this.sys.pageSize = 10
                this.sys.tableData = []
            },
            onQuery: function () {
                axios.post('./pageMusic', {
                    searchInfo: this.queryForm.searchInfo,
                    page: this.sys.currentPage,
                    limit: this.sys.pageSize
                })
                .then(response => {
                    if(response.data.code === 0) {
                        this.sys.total = response.data.count;
                        this.sys.tableData = response.data.data;
                    } else {
                        this.$message.error(response.data.msg);
                    }
                })
                .catch(error => {
                    this.$message.error(error);
                });
            },
            onEdit(row) {
                location.href = './add?id=' + row.id
            },
            onDelete(row) {
                this.$confirm('是否确认删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('./deleteMusic', {
                        id: row.id
                    })
                    .then(response => {
                        if(response.data.code === 0) {
                            this.onQuery();
                            this.$message({
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            this.$message.error(response.data.msg);
                        }
                    })
                    .catch(error => {
                        this.$message.error(error);
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            handleSizeChange(val) {
                this.sys.pageSize = val
                this.onQuery();
            },
            handleCurrentChange(val) {
                this.sys.currentPage = val
                this.onQuery();
            }
        }
    })
</script>
</html>
