<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/dist/axios.js}"></script>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="2">&nbsp;</el-col>
            <el-col :span="20">
                <el-row style="text-align: center;">
                    <h2>woodwhales-music</h2>
                </el-row>
                <el-row style="text-align: center; margin-bottom: 12px;">
                    <el-divider content-position="center"><span style="color: #67C23A;">移风易俗，莫善于乐。</span></el-divider>
                </el-row>
                <el-row>
                    <el-row :gutter="20">
                        <el-col :span="20">
                            <el-form ref="queryForm" :model="queryForm" label-width="80px" @submit.native.prevent>
                                <el-form-item label="名称/作者">
                                    <el-input v-model="queryForm.searchInfo" @keyup.enter.native="onQuery"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-col>
                        <el-col :span="4">
                            <el-button type="primary" @click="onQuery">搜索</el-button>
                            <el-button type="info" @click="onReset">重置</el-button>
                        </el-col>
                    </el-row>
                </el-row>
                <el-row style="text-align: center;">
                    <el-divider><i class="el-icon-headset" style="color: #67C23A;"></i></el-divider>
                </el-row>
                <el-row style="text-align: left; margin-bottom: 12px;">
                    <el-col :span="8">
                        <el-button type="success" size="mini" icon="el-icon-plus" @click="onAdd">添加</el-button>
                        <el-button type="warning" size="mini" icon="el-icon-download" @click="onExport">导出</el-button>
                    </el-col>
                    <el-col :span="16">
                        <el-row :gutter="10" v-if="musicPlayer.musicAudioUrl !== null">
                            <el-col :span="16">
                                <div>
                                    <el-row style="font-size: 12px; margin-bottom: 5px;">
                                        <span>{{musicPlayer.musicName}}</span>
                                        <span style="margin-left: 20px;">{{musicPlayer.musicAuthor}}</span>
                                        <span style="margin-left: 20px;">{{musicPlayer.currentTimeStr}} / {{musicPlayer.allTimeStr}}</span>
                                    </el-row>
                                    <el-row>
                                        <div id="progressContainer" @mousedown="onChangeProgress($event)">
                                            <audio id="audio" @timeupdate="onTimeupdate" :src="musicPlayer.musicAudioUrl" type="audio/mpeg"></audio>
                                            <el-progress :percentage="musicPlayer.percentage" :color="musicPlayer.processColor" :show-text="false"/>
                                        </div>
                                    </el-row>
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <el-button type="primary" size="mini" :icon="musicPlayer.icon" @click="onPlay">{{musicPlayer.btnDesc}}</el-button>
                                <el-button type="danger" size="mini" icon="el-icon-circle-close" @click="onClosePlayer">关闭</el-button>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row style="margin-bottom: 12px;">
                    <el-table :data="sys.tableData" style="width: 100%">
                        <el-table-column
                                fixed
                                prop="title"
                                label="音乐名称">
                            <template slot-scope="scope">
                                <span v-show="scope.row.linked" style="color: #5FB878" >{{scope.row.title}}</span>
                                <span v-show="!scope.row.linked" style="color: #FF5722">{{scope.row.title}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="artist"
                                label="作者">
                        </el-table-column>
                        <el-table-column
                                prop="album"
                                label="专辑">
                        </el-table-column>
                        <el-table-column
                                prop="sort"
                                label="排序"
                                width="60">
                        </el-table-column>
                        <el-table-column
                                prop="gmtCreated"
                                label="创建时间">
                        </el-table-column>
                        <el-table-column
                                prop="gmtModified"
                                label="更新时间">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="210">
                            <template slot-scope="scope">
                                <el-button @click="onEdit(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
                                <el-button @click="onDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
                                <template v-if="scope.row.audioUrl !== null">
                                    <el-button @click="onTry(scope.row)" type="primary" size="mini" icon="el-icon-headset"></el-button>
                                </template>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-row>
                <el-row style="margin-bottom: 12px;">
                    <el-pagination
                            :current-page="sys.currentPage"
                            :page-size="sys.pageSize"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :page-sizes="[10, 20, 50, 100, 300]"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="sys.total">
                    </el-pagination>
                </el-row>
                <el-row style="text-align: center; margin-bottom: 12px;">
                    <el-link :underline="false">&copy;&nbsp;&nbsp;{{sys.dateYear}}</el-link>&nbsp;&nbsp;<el-link :underline="false" type="success" href="https://woodwhales.cn/" target="_blank">woodwhales's blog</el-link>
                </el-row>
            </el-col>
            <el-col :span="2">&nbsp;</el-col>
        </el-row>
    </div>
</body>
<script type="text/javascript" th:inline="none">
    new Vue({
        el: '#app',
        data: function() {
            return {
                queryForm: {
                    searchInfo: null
                },
                sys: {
                    dateYear: new Date().getFullYear(),
                    total: 0,
                    currentPage: 1,
                    pageSize: 10,
                    tableData: []
                },
                musicPlayer: {
                    musicName: null,
                    musicAuthor: null,
                    musicAudioUrl: null,
                    audioStatus: 0,
                    color: '#67C23A',
                    allTimeStr: null,
                    currentTimeStr: null,
                    icon: 'el-icon-video-play',
                    btnDesc: '播放',
                    percentage: 0,
                    processColor: '#67C23A'
                }
            }
        },
        mounted() {
            this.initSys();
            this.initQueryForm();
            this.onQuery();
        },
        methods: {
            initMusicPlayer() {
                this.musicPlayer.musicName = null
                this.musicPlayer.musicAuthor = null
                this.musicPlayer.musicAudioUrl = null
                this.musicPlayer.audioStatus = 0
                this.musicPlayer.allTimeStr = null
                this.musicPlayer.currentTimeStr = null
                this.musicPlayer.icon = 'el-icon-video-play'
                this.musicPlayer.btnDesc = '播放'
                this.musicPlayer.percentage = 0
            },
            onClosePlayer() {
                this.initMusicPlayer();
                const player = document.getElementById("audio");
                player.pause();
                player.currentTime = 0;
            },
            onTimeupdate() {
                const player = document.getElementById("audio");
                if(this.musicPlayer.allTimeStr === null || this.musicPlayer.allTimeStr === '') {
                    this.musicPlayer.allTimeStr = this.transTime(player.duration);
                }
                this.musicPlayer.percentage = (player.currentTime / player.duration) * 100;
                this.musicPlayer.currentTimeStr = this.transTime(player.currentTime);
                if(player.currentTime === player.duration || this.musicPlayer.percentage === 100) {
                    player.pause();
                    this.musicPlayer.icon = 'el-icon-video-play';
                    this.musicPlayer.btnDesc = '播放';
                    this.musicPlayer.audioStatus = 0;
                    this.musicPlayer.percentage = 0;
                }
            },
            onChangeProgress(event) {
                const progressContainer = document.getElementById("progressContainer");
                const player = document.getElementById("audio");
                if(this.musicPlayer.allTimeStr === null) {
                    this.musicPlayer.allTimeStr = this.transTime(player.duration);
                }
                let left = progressContainer.getBoundingClientRect().left;
                let offsetWidth = progressContainer.offsetWidth;
                let rate = (event.clientX - left) / offsetWidth;
                this.musicPlayer.percentage = rate;
                player.currentTime = (rate * player.duration);
                this.musicPlayer.currentTimeStr = this.transTime(player.currentTime);
            },
            onPlay() {
                const player = document.getElementById("audio");
                if(this.musicPlayer.audioStatus === 0) {
                    player.play();
                    this.musicPlayer.icon = 'el-icon-video-pause';
                    this.musicPlayer.btnDesc = '暂停';
                    this.musicPlayer.audioStatus = 1;
                } else if(this.musicPlayer.audioStatus === 1) {
                    player.pause();
                    this.musicPlayer.icon = 'el-icon-video-play';
                    this.musicPlayer.btnDesc = '播放';
                    this.musicPlayer.audioStatus = 0;
                }
                this.musicPlayer.allTimeStr = this.transTime(player.duration);
                this.musicPlayer.max = player.duration;
            },
            transTime(time) {
                var duration = parseInt(time);
                var minute = parseInt(duration/60);
                var sec = duration%60 + '';
                if(minute === 0){
                    minute = '00';
                } else if(minute < 10 ){
                    minute = '0' + minute;
                }
                if(sec.length === 1){
                    sec = '0' + sec;
                }
                return minute + ":" + sec;
            },
            onAdd() {
                location.href = './add'
            },
            onTry(row) {
                this.musicPlayer.musicAudioUrl = row.audioUrl;
                this.musicPlayer.musicName = row.title;
                this.musicPlayer.musicAuthor = row.artist;
                this.musicPlayer.audioStatus = 0;
                this.musicPlayer.percentage = 0;
                this.musicPlayer.icon = 'el-icon-video-play';
                this.musicPlayer.btnDesc = '播放';

                const player = document.getElementById("audio");
                this.musicPlayer.allTimeStr = this.transTime(player.duration);
                this.musicPlayer.currentTimeStr = '00:00';
                player.currentTime = 0;
            },
            onExport() {
                location.href = './export'
            },
            onReset: function () {
                this.initSys();
                this.initQueryForm();
                this.onQuery();
            },
            initQueryForm() {
                this.queryForm.searchInfo = null
            },
            initSys: function () {
                this.sys.dateYear = new Date().getFullYear();
                this.sys.total = 0
                this.sys.currentPage = 1
                this.sys.pageSize = 10
                this.sys.tableData = []
            },
            onQuery: function () {
                axios.post('./pageMusic', {
                    searchInfo: this.queryForm.searchInfo,
                    page: this.sys.currentPage,
                    limit: this.sys.pageSize
                })
                .then(response => {
                    if(response.data.code === 0) {
                        this.sys.total = response.data.count;
                        this.sys.tableData = response.data.data;
                    } else {
                        this.$message.error(response.data.msg);
                    }
                })
                .catch(error => {
                    this.$message.error(error);
                });
            },
            onEdit(row) {
                location.href = './add?id=' + row.id
            },
            onDelete(row) {
                this.$confirm('是否确认删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('./deleteMusic', {
                        id: row.id
                    })
                    .then(response => {
                        if(response.data.code === 0) {
                            this.onQuery();
                            this.$message({
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            this.$message.error(response.data.msg);
                        }
                    })
                    .catch(error => {
                        this.$message.error(error);
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            handleSizeChange(val) {
                this.sys.pageSize = val
                this.onQuery();
            },
            handleCurrentChange(val) {
                this.sys.currentPage = val
                this.onQuery();
            }
        }
    })
</script>
</html>
