<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}">
    <script th:src="@{/webjars/vue/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/dist/axios.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin-css.css}" />
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="2">&nbsp;</el-col>
        <el-col :span="20">
            <div th:replace="~{admin2/header::header}"></div>
            <el-row style="margin-bottom: 12px;">
                <el-button type="success" size="mini" @click="onBackHome">返回</el-button>
            </el-row>
            <el-row style="margin-bottom: 12px;">
                <el-divider content-position="left">系统配置</el-divider>
            </el-row>
            <el-row style="margin-bottom: 12px; text-align: left">
                <el-tabs v-model="activeName" @tab-click="handleClick" type="card">
                    <el-tab-pane label="首页" name="home" style="padding: 10px">
                        <el-form ref="dataForm" :model="dataForm" :rules="rules" label-width="80px">
                            <el-card shadow="hover" style="margin-bottom: 15px">
                                <span style="font-size: 14px; font-weight: bold; margin-bottom: 10px; display: block;">git HubCorners
                                <el-tooltip class="item"
                                            effect="dark"
                                            content="首页左上角的 github HubCorners"
                                            placement="right">
                                        <i class="el-icon-question" style="font-size: 14px; vertical-align: middle;"></i>
                                    </el-tooltip>
                                </span>
                                <el-form-item label="展示" prop="gitHubCornersShow">
                                    <el-switch v-model="dataForm.gitHubCornersShow"></el-switch>
                                </el-form-item>
                                <el-form-item label="链接" prop="gitHubCornersUrl" :required="dataForm.gitHubCornersShow ? true : false">
                                    <el-input v-model="dataForm.gitHubCornersUrl" maxlength="300" show-word-limit :disabled="!dataForm.gitHubCornersShow"></el-input>
                                </el-form-item>
                            </el-card>
                            <el-card shadow="hover" style="margin-bottom: 15px">
                                <span style="font-size: 14px; font-weight: bold; margin-bottom: 10px; display: block;">版权信息
                                <el-tooltip class="item"
                                            effect="dark"
                                            content="首页底部的版本信息"
                                            placement="right">
                                        <i class="el-icon-question" style="font-size: 14px; vertical-align: middle;"></i>
                                    </el-tooltip>
                                </span>
                                <el-form-item label="名称" prop="authorName">
                                    <el-input v-model="dataForm.authorName" maxlength="50" show-word-limit></el-input>
                                </el-form-item>
                                <el-form-item label="链接" prop="authorWebsite">
                                    <el-input v-model="dataForm.authorWebsite" maxlength="300" show-word-limit></el-input>
                                </el-form-item>
                            </el-card>
                            <el-button type="primary" size="mini" @click="onSubmit('dataForm')">提交</el-button>
                            <el-button size="mini" @click="resetForm('dataForm')">重置</el-button>
                        </el-form>
                    </el-tab-pane>
                    <el-tab-pane label="后台" name="admin" style="padding: 10px">
                        <el-form ref="dataForm2" :model="dataForm2" :rules="rules2" label-width="80px">
                            <el-card shadow="hover" style="margin-bottom: 15px">
                                <span style="font-size: 14px; font-weight: bold; margin-bottom: 10px; display: block;">banner
                                    <el-tooltip class="item"
                                                effect="dark"
                                                content="后台页面音乐图标跳转链接"
                                                placement="right">
                                        <i class="el-icon-question" style="font-size: 14px; vertical-align: middle;"></i>
                                    </el-tooltip>
                                </span>
                                <el-form-item label="链接" prop="bannerLinkUrl">
                                    <el-input v-model="dataForm2.bannerLinkUrl" maxlength="300" show-word-limit></el-input>
                                </el-form-item>
                            </el-card>
                            <el-button type="primary" size="mini" @click="onSubmit2('dataForm2')">提交</el-button>
                            <el-button size="mini" @click="resetForm2('dataForm2')">重置</el-button>
                        </el-form>
                    </el-tab-pane>
                </el-tabs>
            </el-row>
        </el-col>
        <el-col :span="2">&nbsp;</el-col>
    </el-row>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    new Vue({
        el: '#app',
        data: function() {
            const validateGitHubCornersUrl = (rule, value, callback) => {
                if (this.dataForm.gitHubCornersShow && this.dataForm.gitHubCornersUrl === '') {
                    callback(new Error('请输入链接'));
                } else {
                    callback();
                }
            };

            return {
                activeName: 'home',
                dataForm: {
                    authorName: '',
                    authorWebsite: '',
                    gitHubCornersUrl: '',
                    gitHubCornersShow: true
                },
                dataForm2: {
                    bannerUrl: ''
                },
                rules2: {
                    bannerUrl: [
                        { required: true, message: '请输入链接', trigger: 'blur' }
                    ]
                },
                rules: {
                    authorName: [
                        { required: true, message: '请输入名称', trigger: 'blur' }
                    ],
                    authorWebsite: [
                        { required: true, message: '请输入链接', trigger: 'blur' }
                    ],
                    gitHubCornersUrl:[
                        { validator: validateGitHubCornersUrl, trigger: 'blur' }
                    ]
                }
            }
        },
        mounted() {
            this.initDataForm()
            this.initDataForm2()
        },
        methods: {
            getConfigProcess(configKey, fun) {
                axios.post('./sysConfig/getConfig', {
                    configKey: configKey
                })
                .then(response => {
                    if(response.data.code === 0) {
                        fun(response.data)
                    } else {
                        this.$message.error(response.data.msg);
                    }
                })
                .catch(error => {
                    this.$message.error(error);
                    console.log(error);
                });
            },
            initDataForm2() {
                this.getConfigProcess('admin', res => {
                    this.dataForm2 = res.data.content
                })
            },
            initDataForm() {
                this.getConfigProcess('home', res => {
                    this.dataForm = res.data.content
                })
            },
            onBackHome() {
                location.href = './';
            },
            handleClick(tab, event) {
                if(tab.name === 'home') {
                    this.initDataForm()
                }
                if(tab.name === 'admin') {
                    this.initDataForm2()
                }
            },
            submitProcess(dataForm, configKey, content) {
                this.$refs[dataForm].validate((valid) => {
                    if (!valid) {
                        return false;
                    }
                    axios.post('./sysConfig/createOrUpdate', {
                        configKey: configKey,
                        content: content
                    })
                    .then(response => {
                        if(response.data.code === 0) {
                            this.$message({
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            this.$message.error(response.data.msg);
                        }
                    })
                    .catch(error => {
                        this.$message.error(error);
                        console.log(error);
                    });
                });
            },
            onSubmit2(dataForm) {
                this.submitProcess(dataForm, 'admin', this.dataForm2)
            },
            resetForm2(formName) {
                this.$refs[formName].resetFields();
                this.initDataForm2()
            },
            onSubmit(dataForm) {
                this.submitProcess(dataForm, 'home', this.dataForm)
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.initDataForm()
            }
        }
    })
</script>
</html>