<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <meta name="keywords" content="woodwhales,music"/>
    <meta name="author" content="woodwhales.cn"/>
    <meta name="robots" content="index,all"/>
    <meta name="description" content="woodwhales-music是一个基于SpringBoot开发的轻量级简洁音乐播放器，可视化后台管理可做到独立自主可控音乐信息">
    <link rel="canonical" th:href="${admin.bannerLinkUrl}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<form class="login" action="/admin/two-factor/verify" method="post">
    <div th:if="${session.errorMsg}" th:text="${session.errorMsg}" style="color: red;"></div>
    <input name="code" placeholder="验证码">
    <button type="submit">提 交</button>
</form>
</body>

</html>
