<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}">
    <script th:src="@{/webjars/vue/dist/vue.js}"></script>
    <script th:src="@{/webjars/element-ui/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/dist/axios.js}"></script>
    <!-- https://aplayer.js.org/#/zh-Hans/ -->
    <script th:src="@{/aplyer/APlayer.min.js}"></script>
    <link rel="stylesheet" th:href="@{/aplyer/APlayer.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin-css.css}" />
</head>
<body>
two-factor authentication
</body>
</html>
