.x-admin-backlog .x-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    overflow: auto;
}

.arrow {
    border: 9px solid transparent;
    border-bottom-color: #363636;
    width: 0px;
    height: 0px;
    top: 0px
}

.stick {
    width: 8px;
    height: 14px;
    border-radius: 1px;
    background-color: #363636;
    top: 15px;
}

.box {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 10px;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    background-color: #363636;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.box:hover:before {
    top: 50%
}

.box:hover .box-in {
    visibility: hidden;
}

.box:before {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'TOP';
    width: 40px;
    color: #aaa;
    font-weight: bold;
}

 
.box-in {
    visibility: visible;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-color: white transparent transparent white;
    transform: rotate(45deg);
}

#footer {
    width: 470px;
    margin: 0 auto 50px;
    padding: 15px 15px;
    list-style: none;
    position: relative;
    color: #aaa;
}

#footer a {
    color: #aaa;
}

#footer a:hover {
    color: white;
}