.x-admin-backlog .x-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
}

#back_top {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    display: none;
    background-color: #999999;
}

#back_top span {
    display: block;
    width: 60px;
    color: #dddddd;
    font-size: 40px;
    text-align: center;
    margin-top: 4px;
}

#back_top span:hover {
    color: #cccccc;
}