html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    overflow: auto;
}

#content {
    min-height: 100vh;
}

#footer {
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    gap: 5px;
}

#footer a {
    color: #aaa;
}

#footer a:hover {
    color: white;
}

#friendly a {
    margin-right: 10px;
}

#friendly a:last-child {
    margin-right: 0;
}

#to-top {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 25px;
    top: 50%;
    transform: translateX(-50%);
    background-color: #191919;
    border-radius: 50%;
    color: #aaa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

#to-top:hover {
    background-color: #5b5b5b;
}
